@{
    ViewData["Title"] = "BPS Developers";
}
<h1>@ViewData["Title"]</h1>
<h1>Self Service</h1>
<h1> Development Environment: Test?</h1>
<h2>Self Service Options:</h2>
<li>option1</li>
<li>option2</li>
<li>option3</li>
<li>option4</li>

<p>BPS Developers Page</p>
